<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="empBean" class="myproject.nestedbean.beans.Employee">
 <property name="eid" value="E-111"/>
 <property name="ename" value="Himanshu"/>
 <property name="esal" value="25000"/>
 <property name="eaddr" value="Indore"/>
 <property name="acc">
 	<bean id="account" class="myproject.nestedbean.beans.Account">
 		<property name="accNo" value="1234"/>
 		<property name="accName" value="Himanshu"/>
 		<property name="accType" value="Saving"/>
 		<property name="balance" value="600000"/>
 	</bean>
 </property>
 </bean>
 </beans>